

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-nova .km-list>li{
    padding: 0.5em 0.84em 0.5em 0.84em;
}
/*

  ul.a {
    list-style-type: circle;
      
}

ul {
   list-style-image: url('./../kendo/styles/images/folder_icon.png');
     list-style-position: inside;
    list-style-type: none;
    padding: 3px;
    margin: 2px;
}
.fileIcon{
    background: url('../kendo/styles/images/file-icon.png') no-repeat left center !important;
    background-size: 30px !important;
     
}
.fileIcon a{
    margin-left:10px !important;
}
.folderIcon{
    background: url('../kendo/styles/images/folder-icon.png') no-repeat left center !important;
    background-size: 30px !important;
     
}
.folderIcon a{
    margin-left:10px !important;
}*/
input,textarea {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

