<div data-role="view" data-title="Browse" data-layout="main" data-model="APP.models.browse">
     <header id="page-header">
         <nav class="main-navigation">
        
            <ul class="multi-site-nav" data-role="scrollview" data-pager-overlay="true">                  
                    <li>
                        <a href="#" title="Telerik Platform Products Documentation" id="DocsLink">Child1</a>
                    </li>
                    <li>
                        <a href="#">Child2</a>
                    </li>
                    <li>
                        <a href="#">Child3</a>
                    </li>
                    <li>
                        <a href="#">Child4</a>
                    </li>
                    <li>
                        <a href="#">Child5</a>
                    </li>
                    <li>
                        <a href="#">Child6</a>
                    </li>
            </ul>
        
        </nav>
         </header>
    <ul data-role="listview" data-type="listview-link">
        <li><a href="#secondview" >C:</a></li>  
        <li><a href="#secondview">D:</a></li>   
        <li><a href="#secondview">E:</a></li>   
    </ul>
</div>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<!--<script type="text/x-kendo-template" id="contactsTemplate">
  <a data-bind="click: alert">#: data.name #</a>
</script>-->