<div data-role="view" data-title="Remote Device" data-layout="main" data-model="APP.models.connect">
          <div class="content">
            <div>
                <form role="form" action="home.html">
                  <div style="width: 95%;margin-left: 5px;margin-right:5px;text-align:center;">
                      		<div style="width:100%;height:200px;margin:20px 0px;">
                                <img src="images/unify_circle.png" alt="unify" height="200" width="80%">
                      </div>
                            <input value="" placeholder="user name" style="width:100%" type="text" id="username"/>
                             <input value="" placeholder="password" style="width:100%" type="password" id="pwd"/>
                           <button data-role="button" style="margin-top:20px;" class="btn btn-primary" data-animated="true" type="submit">Connect</button>
                    </div>                  
    			</form>
            </div>
        </div>
</div>