<div data-role="view" data-title="Compose Email" data-layout="main" data-model="APP.models.settings">
    <div class="content">
        <div>
            <form role="form" action="">
               <ul data-role="listview" data-style="inset">
                    <li>
                        <label for="email" class="km-required km-label-above">To
                            <input value="" placeholder="example@host.com" type="email" id="email"/>
                        </label>
                    </li>
                    <li>
                        <label for="subject" class="km-label-above">Subject
                            <input value="" placeholder="add subject" type="text" id="subject"/>
                        </label>
                    </li>
                    <li>
                        <label for="body" class="km-label-above">Body
                        </label>
                        <textarea rows="4" cols="200" value="" placeholder="message..." id="body">
                        </textarea>
                    </li>
                    <li>
                       <button data-role="button" data-animated="true" type="submit">Send</button>
                    </li>
                </ul>                  
			</form>
        </div>
    </div>
</div>