    
<div data-role="view" data-title="Home" data-layout="main" data-model="APP.models.home">
  
    
    
    
<button type="button" data-bind="click:backButton">Back</button>  
 <button type="button" data-bind="click:fetchJson1" >MY COMPUTER</button>

<header id="page-header">
         <nav class="main-navigation">
        
            <ul id="navbar" class="multi-site-nav" data-role="scrollview" data-pager-overlay="true">                  
                   
            </ul>
        
        </nav>
         </header>

    
 <div data-role="scroller"  data-elastic="false">
    
    <ul id="latitudes" data-role="listview" data-type="listview-link">
    	
    </ul>
    </div>
</div>
 <!--<li>
                        <a href="#" title="Telerik Platform Products Documentation" id="DocsLink">Child1</a>
                    </li>
                    <li>
                        <a href="#">Child2</a>
                    </li>
                    <li>
                        <a href="#">Child3</a>
                    </li>
                    <li>
                        <a href="#">Child4</a>
                    </li>
                    <li>
                        <a href="#">Child5</a>
                    </li>
                    <li>
                        <a href="#">Child6</a>
                    </li>-->