    
<div data-role="view" data-title="Home" data-layout="main" data-model="APP.models.home">
    

<button type="button" style="margin:5px;" class="btn btn-primary" id="back_button"  data-bind="click:backButton"  disabled>Back</button>
 <button type="button" style="margin:5px;float:right;" class="btn btn-primary" data-bind="click:fetchJson1" >My Computer</button>
<header id="page-header">
         <nav class="main-navigation">
        
            <ul id="navbar" class="multi-site-nav" data-role="scrollview" data-pager-overlay="true">                  
                   
            </ul>
        
        </nav>
         </header>

    
 <div data-role="scroller"  data-elastic="false">
    
    <ul id="latitudes" data-role="listview" data-type="listview-link">
    	
    </ul>
    </div>
</div>