<div data-role="view" data-title="Terminal" data-layout="main" data-model="APP.models.terminal">
    
<div style="display: inline-block;width: 364px;margin-left: 5px;">
    <textarea id="termialResultArea" rows="200" style="height:500px;width: 100%;" readonly=""></textarea>
    <div style="display: inline-block;width: 100%;">
        <input type="text" id="commandLine" title="Type command here" style="font-size:20px;width:90%;height:40px;margin:5px 0 0 0 !important;display:inline-block;">
        <span>
            <button type="button" id="commandSendBtn" style="height: 40px;float: right;width: 9%;margin-top: 5px;" data-bind="click:executeTerminalCmdAjax"></button>
       	</span>
    </div>
</div>